In [13]:
import pandas as pd

In [14]:
df_data_sampah = pd.read_csv ('datasampah.csv')[['nama_kabupaten_kota','jumlah_produksi_sampah', 'tahun']]
df_data_sampah

    nama_kabupaten_kota  jumlah_produksi_sampah  tahun
0       KABUPATEN BOGOR                 1511.15   2015
1    KABUPATEN SUKABUMI                  419.01   2015
2     KABUPATEN CIANJUR                  981.41   2015
3     KABUPATEN BANDUNG                 1895.94   2015
4       KABUPATEN GARUT                  464.74   2015
..                  ...                     ...    ...
238         KOTA BEKASI                     NaN   2023
239          KOTA DEPOK                     NaN   2023
240         KOTA CIMAHI                     NaN   2023
241    KOTA TASIKMALAYA                     NaN   2023
242         KOTA BANJAR                     NaN   2023

[243 rows x 3 columns]

In [27]:
df_data_sampah = pd.read_excel ('datasampah.xlsx')
df_data_sampah

    id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0    1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,T...
1    2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01...
2    3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,...
3    4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94...
4    5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TO...
..                                                 ...
238  239,32,JAWA BARAT,3275,KOTA BEKASI,,TON PER HA...
239  240,32,JAWA BARAT,3276,KOTA DEPOK,,TON PER HAR...
240  241,32,JAWA BARAT,3277,KOTA CIMAHI,,TON PER HA...
241  242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,,TON P...
242  243,32,JAWA BARAT,3279,KOTA BANJAR,,TON PER HA...

[243 rows x 1 columns]

In [17]:
# Dari DataFrame yang telah dibuat, hitunglah total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat 
# untuk tahun tertentu
total_produksi_sampah_pertahun = int (input('Masukkan tahun yang ingin dihitung: '))
total_produksi_sampah = 0
tahun_ditemukan = False
for i, row in df_data_sampah.iterrows():
    if row ['tahun'] == total_produksi_sampah_pertahun :
        total_produksi_sampah += row ['jumlah_produksi_sampah']
        tahun_ditemukan = True
        
if tahun_ditemukan:
    print(f'Total produksi {total_produksi_sampah_pertahun}: {total_produksi_sampah} ton perhari')
else:
    print(f'tidak ada data sampah pada tahun {total_produksi_sampah_pertahun}')

tidak ada data sampah pada tahun 2024

In [21]:
# Jumlahkan data pertahun
total_pertahun = {}

for i, row in df_data_sampah.iterrows():
    tahun = row['tahun']
    jumlah = row['jumlah_produksi_sampah']
    
    if pd.isna(jumlah):
        jumlah = 0
        
    total_pertahun[tahun] = total_pertahun.get(tahun, 0) + jumlah
    
print('\nTotal Produksi sampah pertahun')
for tahun, total in total_pertahun.items():
    print(f'Pada tahun ke-{tahun}: {total} Ton Perhari')

Total Produksi sampah pertahun
Pada tahun ke-2015: 20969.269999999997 Ton Perhari
Pada tahun ke-2016: 20969.269999999997 Ton Perhari
Pada tahun ke-2017: 20969.269999999997 Ton Perhari
Pada tahun ke-2018: 22772.92 Ton Perhari
Pada tahun ke-2019: 24490.559999999998 Ton Perhari
Pada tahun ke-2020: 25333.0 Ton Perhari
Pada tahun ke-2021: 15735.360000000002 Ton Perhari
Pada tahun ke-2022: 0 Ton Perhari
Pada tahun ke-2023: 0 Ton Perhari

In [23]:
# Jumlahkan data per Kota/Kabupaten per tahun
total_per_daerah = {}
for i, row in df_data_sampah.iterrows():
    wilayah = row['nama_kabupaten_kota']
    jumlah = row['jumlah_produksi_sampah']
    
    if pd.isna(jumlah):
        jumlah = 0
        
    total_per_daerah[wilayah] = total_per_daerah.get(wilayah,0) + jumlah
    
print('\nTotal Produksi sampah per wilayah')
for wilayah, total in total_per_daerah.items():
    print(f'Pada wilayah {wilayah}: {total:.2f} Ton Perhari')

Total Produksi sampah per wilayah
Pada wilayah KABUPATEN BOGOR: 13113.49 Ton Perhari
Pada wilayah KABUPATEN SUKABUMI: 4038.19 Ton Perhari
Pada wilayah KABUPATEN CIANJUR: 6497.92 Ton Perhari
Pada wilayah KABUPATEN BANDUNG: 11934.04 Ton Perhari
Pada wilayah KABUPATEN GARUT: 4484.29 Ton Perhari
Pada wilayah KABUPATEN TASIKMALAYA: 3531.33 Ton Perhari
Pada wilayah KABUPATEN CIAMIS: 2329.72 Ton Perhari
Pada wilayah KABUPATEN KUNINGAN: 2486.63 Ton Perhari
Pada wilayah KABUPATEN CIREBON: 3205.17 Ton Perhari
Pada wilayah KABUPATEN MAJALENGKA: 2593.39 Ton Perhari
Pada wilayah KABUPATEN SUMEDANG: 2532.71 Ton Perhari
Pada wilayah KABUPATEN INDRAMAYU: 5383.18 Ton Perhari
Pada wilayah KABUPATEN SUBANG: 4735.53 Ton Perhari
Pada wilayah KABUPATEN PURWAKARTA: 2262.90 Ton Perhari
Pada wilayah KABUPATEN KARAWANG: 5997.44 Ton Perhari
Pada wilayah KABUPATEN BEKASI: 11328.27 Ton Perhari
Pada wilayah KABUPATEN BANDUNG BARAT: 4972.37 Ton Perhari
Pada wilayah KABUPATEN PANGANDARAN: 1277.55 Ton Perhari
Pada wilayah KOTA BOGOR: 5952.47 Ton Perhari
Pada wilayah KOTA SUKABUMI: 1833.73 Ton Perhari
Pada wilayah KOTA BANDUNG: 14521.78 Ton Perhari
Pada wilayah KOTA CIREBON: 1887.57 Ton Perhari
Pada wilayah KOTA BEKASI: 15504.31 Ton Perhari
Pada wilayah KOTA DEPOK: 12209.61 Ton Perhari
Pada wilayah KOTA CIMAHI: 3112.35 Ton Perhari
Pada wilayah KOTA TASIKMALAYA: 2754.78 Ton Perhari
Pada wilayah KOTA BANJAR: 758.93 Ton Perhari